html {
    background: linear-gradient(to bottom,black,#575757,black);
    height: 100%;    
}

body {
    margin: 0 auto;
    box-shadow: 0 0 30px white;
    max-width: 1000px;
    background: black;
    height: 100%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

#nav {
    text-align: center;
    margin-top: 10px;    
}


ul {
    list-style: none; 
}

li {
    display: inline;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.nav {
    text-decoration: none; 
    display: inline-block;
    color: white;
    transition: 1s;
}

img {
    margin: auto;
    display: block;
    transition: 2s;
}

img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.center {
    text-align: center;
}

