html {
    background: white;
    height: 100%;    
}

body {
    margin: 0 auto;
    height: 100%;
    font-family: 'Cabin', sans-serif !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1,p {
    text-align: center;
}

#nav {
    text-align: center;
    margin-top: 10px;  
    margin-bottom: 50px;
}

hr {
    width: 75%;    
}

ul {
    list-style: none; 
}

li {
    display: inline;
    padding: 30px;
    margin: auto;
    cursor: pointer;
}

.nav {
    text-decoration: none; 
    display: inline-block;
    color: black;
    transition: 1s;
}

img {
    margin: auto;
    display: block;
    transition: 2s;
}

img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.hidden {
    display: none;

}

