html {
    background: linear-gradient(to bottom,white,black,white);
    height: 100%;    
}

body {
    height: 100%;
    max-width: 1000px; 
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    transition: 3s;
    -webkit-transition: 3s;
    margin-top: 20px;
    margin-bottom: 20px;
}

#nav {
    text-align: center;
    margin-top: 10px;
}


ul {
    list-style: none; 
}

li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

a {
    text-decoration: none; 
    display: inline-block;
    color: black;
    transition: 1s;
    -webkit-transition: 1s;
}

a:hover {
    color: transparent;
    text-shadow: 0 0 3px black;
}

img {
    margin: auto;
    display: block;
    transition: 3s;
}

img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.center {
    text-align: center;
}
